<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicacion_Calidad.My.MySettings.ConexionEncuestas"
            connectionString="Data Source=192.168.1.14;Initial Catalog=ENCUESTAS;User ID=cp;Password=Cordial.passs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
